.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

.save-button {
  position: absolute;
  margin-left: 50%;
  font-size: 16px;
  background-color: white;
  color: black;
  border-width: 3px 5px 5px 3px;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  cursor: pointer;
}

.editor-container {
  margin-top: 20px;
  border: 1px solid blue;
  padding: 10px;
  width: 90%;
  height: 500px;
}

.editor {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
}
